* {
  padding: 0;
  margin: 0;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.6em;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  color: $font-color;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a,
a:hover {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  background: red;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-green-color;
}

.container {
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.text-center {
  text-align: center;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix:before {
  display: table;
  content: " ";
}
