@import "variables.scss";
@import "mixins.scss";
@import "resets.scss";
@import "buttons.scss";
@import "reusable.scss";
@import "selectric.scss";
@import "search.scss";
@import "fotorama.scss";
@import "details.scss";
@import "publicauth.scss";
@import "dashboard.scss";

#accept-cookies {
  display: none;
  width: 300px;
  padding: 20px;
  height: auto;
  background: $main-green-color;
  border: 1px solid $main-green-color;
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 9999999999999999999999999;
  @include border-radius(3px);
  p {
    font-size: 12px;
    color: white;
  }

  a{
    display: inline-block;
    color: white;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  button {
    background: white;
    border: none;
    @include border-radius(3px);
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  @media(max-width: 767px) {
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

}

.fotorama {
  img {
    object-fit: cover !important;
  }
}

.mobile-user-cannabis-error {
  padding: 20px 30px;
  border-top: 2px solid #9c9a99;
  text-align: center;
  span {
    color: indianred;
    font-weight: bold;
    display: inline-block;
    font-size: 23px;
    margin-right: 10px;
  }

  a {
    @include transition-1;
    font-weight: bold;
    color: $main-green-color;
    &:hover {
      color: lighten($main-green-color, 10%);
    }
  }
}

.forbidden-access-cannabis {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

.desktop-user-cannabis-error {
  position: relative;
  h3 {
    position: absolute;
    z-index: 99999;
    left: 50%;
    margin-left: -325px;
    top: 300px;
    border: 2px solid gray;
    background: white;
    width: 650px;
    @include border-radius(4px);
    box-shadow: 10px 10px 8px -8px #cccccc;
    padding: 20px 30px;
    text-align: center;
  }
  span {
    color: indianred;
    font-weight: bold;
    display: inline-block;
    font-size: 23px;
    margin-right: 10px;
  }

  a {
    @include transition-1;
    font-weight: bold;
    color: $main-green-color;
    &:hover {
      color: lighten($main-green-color, 10%);
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.welcome-user {
  float: right;
  margin-right: 20px;
  position: relative;
  top: 7px;
  font-style: italic;
  p {
    font-size: 14px !important;
    text-decoration: underline;
    a {
      color: $font-color;
      &:hover {
        color: $main-green-color;
      }
    }
  }
  @media (max-width: 992px) {
    display: none !important;
  }
}

.welcome-user-mobile {
  display: none;
  float: right;
  margin-right: 20px;
  position: relative;
  top: 7px;
  font-style: italic;
  p {
    font-size: 14px !important;
    text-decoration: underline;
    a {
      color: $font-color;
      &:hover {
        color: $main-green-color;
      }
    }
  }
  @media (max-width: 991px) {
    display: block;
  }
}

.wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
  @media (max-width: 767px) {
    margin: 10px 10px 0;
  }
}

.outer-wrap {
  border: 10px solid #e4e4e4;
}

.outer-wrap-mobile {
  @media (min-width: 991px) {
    display: none;
  }
}

.home-wrap {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  padding-right: 0;
  // border: 2px solid #cdcdcd;
  @media (max-width: 991px) {
    display: none;
    padding-right: 15px;
  }

  &__item {
    &:first-of-type {
      flex: 0 0 calc(25% - 15px);
      border-right: 15px solid $white-color;
      background: $grey-color;
      @media (max-width: 991px) {
        display: none;
        border-right: none;
      }
      .inner-wrap {
        padding: 30px;
        @media (max-width: 1199px) {
          padding: 20px;
        }
        h1 {
          text-align: center;
          line-height: 1.2em;
          span {
            text-transform: uppercase;
            color: $main-green-color;
          }

          a {
            color: $font-color;
            text-decoration: none;
            &:active,
            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    &:last-of-type {
      flex: 0 0 calc(75% - 5px);
      border-left: 5px solid $white-color;
      @media (max-width: 991px) {
        flex: 0 0 100%;
        border-left: none;
        margin-top: 20px;
      }
    }
  }
}

.toggle-countries {
  width: 100%;
  padding: 30px 0 50px;
  border-bottom: 2px solid $border-grey;
  select {
    width: 100%;
    height: 35px;
    margin-top: 35px;
    text-align-last: center;
    color: white;
    background: $main-green-color;
    cursor: pointer;
    @include border-radius(3px);
    &:active,
    &:focus {
      outline: none;
    }
    option {
      background: $white-color !important;
      color: $font-color;
    }
  }
}

.hemp-cannabis-toggle {
  display: flex;
  flex-flow: row wrap;
  margin-top: -1px;
  position: relative;

  @media (max-width: 992px) {
    position: relative;
    top: 1px;
  }

  button {
    flex: 0 0 50%;
    height: 36px;
    background: white;
    border: none;
    color: $main-green-color;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid lightgray;
    opacity: 0.3;
    &:first-of-type {
      @include border-radius(2px 0 0 2px);
    }
    cursor: pointer;
    &:focus,
    &:active {
      outline: none;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.toggle-active {
  background: $main-green-color !important;
  color: white !important;
  opacity: 1 !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  border-top: 2px solid white !important;
  -webkit-box-shadow: -1px 10px 5px -6px rgba(143,143,143,1);
  -moz-box-shadow: -1px 10px 5px -6px rgba(143,143,143,1);
  box-shadow: -1px 10px 5px -6px rgba(143,143,143,1);
  @include transform(scale(1.07));
  z-index: 99;
  @media (max-width: 991px) {
    @include transform(scale(1) !important);
  }
}

// fieldset {
//   position: relative;
//   width: 100%;
//   height: 35px;
//   background: #e1e1e1;
//   border: 1px solid #e1e1e1;
//   padding: 0;
//   margin: 0 auto;
//   background: white;
//   @include border-radius(1px);

//   &:hover {
//     border-color: #d5d5d5;
//   }

// input.input-switch {
//   position: absolute;
//   opacity: 0;
//   z-index: -10;
// }

// span.switch-bg {
//   position: absolute;
//   z-index: 0;
//   width: 50%;
//   height: 35px;
//   left: 50%;
//   background: $main-green-color;
//   top: -1px;
//   -webkit-transition: all 0.3s ease-in-out;
//   -moz-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
// }

//   span.switch-labels {
//     position: absolute;
//     z-index: 1;
//     width: inherit;
//     height: inherit;
//     margin-top: -3px;
//     font-weight: bold;
//     letter-spacing: 1px;
//     font-size: 13px;

//     &:before,
//     &:after {
//       height: 40px;
//       width: 50%;
//       line-height: 40px;
//       transition: all 0.3s;
//       -webkit-transition: all 0.3s;
//       text-align: center;
//     }

//     &:before {
//       content: attr(data-on);
//       left: 0;
//       position: absolute;
//       color: #b7b7b7;
//     }

//     &:after {
//       content: attr(data-off);
//       position: absolute;
//       right: 0;
//       color: #fff;
//     }
//   }

//   label {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     cursor: pointer;
//   }
// }

// .input-switch:checked ~ .switch-bg {
//   left: 0%;
//   background: $main-green-color;
// }

// .input-switch:checked ~ .switch-labels:before {
//   color: $white-color;
// }

// .input-switch:checked ~ .switch-labels:after {
//   color: $font-color;
// }

// fieldset span.switch-labels:before {
//   color: $font-color;
// }

.listing-account {
  padding: 30px 0 30px;
  border-bottom: 2px solid $border-grey;
  @media (max-width: 991px) {
    width: 50%;
    float: left;
    border-bottom: none;
  }
}

.useful-links {
  padding: 30px 0 30px;
  @media (max-width: 991px) {
    width: 50%;
    float: left;
    clear: right;
  }
}

.current-state-heading__desktop {
  @media (max-width: 991px) {
    display: none !important;
  }
}

.current-state-heading {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  background: $grey-color;
  border: 1px solid lightgray;

  @media (max-width: 767px) {
    display: none !important;
  }

  &__item {
    &:first-of-type {
      flex: 0 0 70%;
      h3 {
        margin-top: 5px;
        font-size: 15px !important;
        @media (min-width: 767px) and (max-width: 1199px) {
          font-size: 14px !important;
        }
      }
    }

    &:last-of-type {
      flex: 0 0 30%;
      text-align: right;
      position: relative;
      @media (max-width: 991px) {
      }
      input {
        height: 35px;
        width: 90%;
        padding-left: 10px;
        border: 1px solid lightgrey;
        cursor: pointer;
        @include border-radius(3px);
        &:active,
        &:focus {
          outline: none;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      button {
        position: absolute;
        right: 0;
        background: $light-green-color;
        border: 1px solid lightgray;
        top: 0;
        bottom: 0;
        padding: 5px;
        @include border-radius(0px 3px 3px 0px);
        @include transition-1;
        cursor: pointer;
        &:active,
        &:focus {
          outline: none;
        }
        img {
          width: 20px;
          height: 20px;
        }
        &:hover {
          background: $main-green-color;
        }
      }
    }
  }
}

[data-account="verify"] {
  img {
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 5px;
  }
}

.home-categories {
  margin-top: 20px;
  columns: 250px 3;
  column-gap: 2rem;
  &__item {
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
  }
}

.category-item {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 10px 10px 8px -8px rgba(204, 204, 204, 1);
  -moz-box-shadow: 10px 10px 8px -8px rgba(204, 204, 204, 1);
  box-shadow: 10px 10px 8px -8px rgba(204, 204, 204, 1);
  @include border-radius(3px);
  padding: 15px;
  overflow: hidden;
  h5 {
    font-size: 17px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    a {
      color: $font-color;
      @include transition-1;
      &:hover {
        color: $main-green-color;
      }
    }
  }
  ul {
    li {
      padding-bottom: 10px;
    }
  }
}

[data-category="forums"] {
  ul {
    max-width: 50%;
    float: left;
    li {
      display: inline-block;
      width: 90%;

      a {
        width: 100%;
        display: block;
        border-bottom: 1px solid lightgray;
        padding: 0 0 5px 0;
        font-size: 13px;
        color: $font-color;
        @include transition-1;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $main-green-color;
        }
      }
    }
  }
}

[data-category="sale"] {
  ul {
    li {
      display: inline-block;
      width: 100%;

      a {
        width: 100%;
        display: block;
        border-bottom: 1px solid lightgray;
        padding: 0 0 5px 0;
        font-size: 13px;
        color: $font-color;
        @include transition-1;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $main-green-color;
        }
      }
    }
  }
}

[data-category="real-estate"] {
  ul {
    li {
      display: inline-block;
      width: 100%;

      a {
        width: 100%;
        display: block;
        border-bottom: 1px solid lightgray;
        padding: 0 0 5px 0;
        font-size: 13px;
        color: $font-color;
        @include transition-1;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $main-green-color;
        }
      }
    }
  }
}

[data-category="vendor-listings"] {
  ul {
    max-width: 50%;
    float: left;
    li {
      display: inline-block;
      width: 95%;

      a {
        width: 100%;
        display: block;
        border-bottom: 1px solid lightgray;
        padding: 0 0 5px 0;
        font-size: 13px;
        color: $font-color;
        @include transition-1;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $main-green-color;
        }
      }
    }
  }
}

[data-category="misc"] {
  ul {
    li {
      display: inline-block;
      width: 100%;

      a {
        width: 100%;
        display: block;
        border-bottom: 1px solid lightgray;
        padding: 0 0 5px 0;
        font-size: 13px;
        color: $font-color;
        @include transition-1;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $main-green-color;
        }
      }
    }
  }
}

[data-category="jobs"] {
  ul {
    max-width: 100%;
    float: left;
    li {
      display: inline-block;
      width: 100%;

      a {
        width: 100%;
        display: block;
        border-bottom: 1px solid lightgray;
        padding: 0 0 5px 0;
        font-size: 13px;
        color: $font-color;
        @include transition-1;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $main-green-color;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  background: $main-green-color;
  @media (max-width: 991px) {
    padding: 20px 20px 15px;
  }

  div {
    &:first-of-type {
      flex: 0 0 25%;
      @media (max-width: 991px) {
        flex: 0 0 100%;
        margin-bottom: 15px;
      }
      h4 {
        color: $white-color;
        font-weight: 100;
        letter-spacing: 2px;
        text-align: center;
        img {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 3px;
          position: relative;
          top: 2px;
        }
      }
    }

    &:last-of-type {
      flex: 0 0 75%;
      text-align: center;
      @media (max-width: 991px) {
        flex: 0 0 100%;
      }

      ul {
        padding: 0;
        @media (max-width: 991px) {
          text-align: center;
        }
        li {
          display: inline-block;
          a {
            color: white;
            text-transform: uppercase;
            padding-left: 5px;
            padding-right: 5px;
            @media (max-width: 1199px) {
              font-size: 11px;
            }
            &:after {
              content: "|";
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}

// Homepage Mobile View

.home-wrap-mobile {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}

.home-wrap-mobile__navbar {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 30px;
  border-bottom: 2px solid $border-grey;
  @media (max-width: 545px) {
    padding: 20px;
  }
  h1 {
    margin-top: 10px;
    a {
      color: $font-color;
      text-decoration: none;
      &:active,
      &:focus {
        outline: none;
      }
    }
    @media (max-width: 545px) {
      font-size: 25px;
    }

    @media (max-width: 500px) {
      text-align: center;
      margin-bottom: 15px;
      font-size: 30px;
    }
    span {
      color: $main-green-color;
    }
  }

  div {
    &:first-of-type {
      flex: 0 0 40%;
      @media (max-width: 500px) {
        flex: 0 0 100%;
      }
    }

    &:last-of-type {
      flex: 0 0 60%;
      text-align: center;
      @media (max-width: 500px) {
        flex: 0 0 100%;
      }
      a {
        display: inline-block;
        @media (max-width: 545px) {
          font-size: 13px;
        }
      }
    }
  }
}

.home-wrap-mobile__togles {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 15px 25px !important;
  justify-content: center;

  .toggle-countries {
    flex: 0 0 calc(33.33% - 20px);
    padding: 10px;
    border-bottom: none;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      padding-left: 5px;
      padding-right: 5px;
    }

    @media (max-width: 400px) {
      flex: 0 0 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .selectric-mobile {
    flex: 0 0 calc(33.33% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: 767px) {
      flex: 0 0 calc(50% - 10px);
      padding-left: 0;
      padding-right: 20px;
    }

    @media (max-width: 400px) {
      flex: 0 0 100%;
      padding-right: 0;
    }
    select {
      width: 100%;
    }

    .selectric {
      margin-top: 10px;
      height: 36px;
      border: 1px solid $border-light-grey;
      @include border-radius(3px);
      .label {
        position: relative;
        top: -3px;
        @media (max-width: 685px) {
          font-size: 10px;
          margin: 0 10px 0 -20px;
        }

        @media (max-width: 400px) {
          margin: 0 10px 0 9px;
        }
      }
      .button {
        top: -4px;
      }
    }
  }
}

.search-mobile {
  flex: 0 0 50%;
  position: relative;
  text-align: center;
  margin-top: 10px;
  input {
    @include border-radius(0 5px 5px 0);
    @media (max-width: 600px) {
      width: 90%;
    }

    @media (max-width: 400px) {
      width: 100%;
      padding-left: 0 !important;
      text-indent: 20px;
    }
  }

  @media(min-width: 767px) and (max-width: 992px) {
    flex: none;
  }

  @media (max-width: 600px) {
    flex: 0 0 50%;
  }

  @media (max-width: 545px) {
    flex: 0 0 calc(50% - 10px);
  }

  @media (max-width: 400px) {
    flex: 0 0 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  button {
    @media (max-width: 400px) {
      right: -2px !important;
    }
  }
}

.mobile-categories {
  display: flex;
  flex-flow: column wrap;

  &__item {
    border-bottom: 1px solid $border-light-grey;
    cursor: pointer;
    @include transition-2;
    &:hover {
      background: #ededed;
    }
    h4 {
      position: relative;
      span {
        position: absolute;
        right: 0;
        cursor: pointer;
        i {
          color: $main-green-color;
          font-size: 20px;
          display: inline-block;
          position: relative;
          top: 3px;
        }
      }
    }
    div {
      display: none;
      margin-top: 10px;
    }

    flex: 0 0 100%;
    padding: 15px 20px;
    background: #edf5f3;
    ul {
      padding: 10px 0;
      width: 100%;
      max-width: 100%;
      li {
        padding-bottom: 10px;
        width: 100%;
        a {
          border-bottom: none;
          font-size: 15px;
          border-bottom: 2px solid $border-light-grey;
          display: block;
          &:hover {
            border: none;
            color: $main-green-color;
            border-bottom: 2px solid $main-green-color;
          }
        }
      }
    }
  }
}

/* Slick Slider */

.slick-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  font-weight: 900;
}

.slick-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f137";
  font-weight: 900;
}

/* End Slick Slider */

/* Static Page */

.static-page-information {
  padding: 10px 0;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    text-align: justify;
  }

  ul {
    margin-bottom: 20px;
  }
}
/* End Static Page */

.special {
  color: white !important;
  background: $light-green-color;
}

/* Privacy Policy */

.privacy-policy-content {
  padding: 18px 0 30px;
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    text-decoration: underline;
  }

  h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  p {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: justify;
  }

  ul {
    padding-left: 40px;
    list-style-type: disc;
    margin-bottom: 15px;
    li {
      font-size: 13px;
    }
  }
}

.terms-of-use-content {
  @extend .privacy-policy-content;
}

/* End Privacy Policy */
